@font-face {
    font-family: "Saria";
    src: url("fonts\SairaStencil-VariableFont_wdth,wght.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saria", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.Header{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    background-color: black;
}
.Header-title{
    color: white;
    font-family: "Saria", sans-serif;
    font-size: 24px;
    margin: 0;
    margin-left: 5px;
}
.Login{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 400px;
    background-color: rgb(79, 237, 255);
    border-radius: 20px;
}
/* 
#Username, #Password,#Submit{
    border-radius: 10px;
    height: 30px;
    width: 200px;
    margin: 5px;
    border: none;
} */

/* .Submit{
    border-radius: 30px;
} */

h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
.Input{
    width: 300px;
    border-bottom: 2px solid black;
    
}
.Input input{

    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    font-size: 1em;
    color: rgb(255, 255, 255);
}
#Submit{
    margin-top: 10px;
    width: 300px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
}
